*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   background-color:  #430B98;
   max-width: 100vw;
   height: 100vh;
}
.header{
    
width: 100%;
padding: 32px 24px;
height: 120px;
background:  #EDEDED;
/* Header */
box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
}
.headerContent{
    height: 56px;
    display: flex;
    justify-content: space-between;
align-items: center;
gap: 10px;
}
.logoAndText{
    display: flex;
padding: 10px 14px 10px 10px;
justify-content: center;
align-items: center;
gap: 8px;
}

.logoImage{
    width: 26px;
height: 26px;
background-color: #430B98;
}
.menuH{
    color:#7342C4;
font-family: Rubik;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
justify-content: center;
align-items: center;
gap: 32px;
}
.lang{
    height: 32px;
    display: flex;
justify-content: flex-end;
align-items: center;
gap: 24px;
}
.container3Divs{
    display: flex;
justify-content: flex-end;
align-items: center;
gap: 24px;
}
.threedivs{
    /* width: 26px; */
    height: 32px;
/* height: 26px; */
/* border: 1px dotted black; */
gap: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.inputSearch{
    flex-grow: 1;
    height: 46px;
}

.buttonsUnderHeader{
    display: flex;
    justify-content: flex-start;
    align-items:center ;
    gap: 26px;
    margin-top: 72px;
    padding: 0px 24px 0px 24px;
    flex-wrap: wrap;
}

.firstButton{
    display: flex;
padding: 14px 32px;
justify-content: center;
align-items: center;
gap: 18px;
border-radius: 73px;
background:  #FFF;
color:#430B98;

}

.Buttons{
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 73px;
    background:#430B98;
    color:  #FFF;
    border: 1px solid white;
}
.MainTitle{
    margin-top: 130px;
    padding: 0px 24px;
    font-family: Rubik;
font-size: 68px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: white;
}
.textUnderMain{
    color: #FFF;
font-family: Rubik;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 16px;
}
.mainWrapper{
    width: 100%;
    padding: 18px;
}
.MainDivMovies{
    margin-top: 72px;
    display: inline-flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    border-radius: 40px;
    background:  #F9F9F9;
    width: 100%;
}
.elementsTopMain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px
}

.topOfMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.sortBy{
    color:#262626;
/* Text 4 */
font-family: Rubik;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    gap: 56px;
    margin: auto;
}

.card{
    width: 254px;
    height: 594px;
    border-radius: 12px;
background:  #FFF;
/* Card */
box-shadow: 0px 0px 25px 0px rgba(27, 2, 62, 0.09);
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
gap: 32px;
}

.image{
    height: 374px;
    width: 100%;
    background-color:brown;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.contentCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:16px
}

.trailerAndStar{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 32px;
}

footer{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin: 150px auto;
    /* height: 20vh; */
}

.icons{
    display: flex;
justify-content: center;
align-items: center;
gap: 56px;
color: white;
}

.contentFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.get{
    display: flex;
align-items: flex-start;
gap: 56px;
color: white;
flex-wrap: wrap;
}
.ratingSelect{
    display: flex;
padding: 10px 11px 10px 19px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 12px;
border: 0.839px solid #ACABAB;
}

@media (max-width: 740px) {
    .inputSearch{
        display: none;
    }
    .container3Divs{
        display: none;

    }
    .menuH{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    }
}

button{
    display: flex;
padding: 10px 14px 10px 10px;
/* flex-direction: column; */
align-items: center;
justify-content: center;
gap: 8.388px;
border-radius: 12px;
border: 0.839px solid #ACABAB;

}
@media (max-width: 500px) {
    .threedivs{
        display: none;
    }
    
    .contentFooter{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
    .get{
        display: flex;
    align-items:center;
    gap: 56px;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }

    .card{
        width: 100%;
        height: 594px;
        border-radius: 12px;
    background:  #FFF;
    /* Card */
    box-shadow: 0px 0px 25px 0px rgba(27, 2, 62, 0.09);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    }
    .elementsTopMain{
        gap:5px;
    }
    
        .ratingSelect{
            display: flex;
        padding: 10px 8px 10px 9px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 12px;
        border: 0.839px solid #ACABAB;
        }
}